<script id="contentTmpl" type="text/x-underscore-template">
	<div id="menu">
		##################################################################
		<div>
			<a href="#" class="chatStart">Start chat</a>
			<a href="#" class="chatStop">Stop chat</a>
		</div>
		<br />
		##################################################################
	</div>
</script>