<script id="contentTmpl" type="text/x-underscore-template">
	<div id="menu"> Test
		<a href="#" class="listDummies">List dummies</a>
		<a href="#" class="newDummy">New dummy</a>
		<a href="#" class="deleteDummy">Delete dummy</a>
		
		<a href="#" class="saveDummies">Save dummies</a>
		
		
		<a href="#" class="folderCreate">Create folder(dropbox)</a>
		<a href="#" class="dropBoxLogin">Login to dropbox</a>
	</div>
</script>